# Roxygen-generated man pages
man/*.Rd

# R/RStudio files:
.Rbuildignore
agop.Rproj
.Rproj.user
.Rhistory
.RData

# compiled/precompiled files
*.o
*.so

# backup files
*~
*.backup
*.bak

# KDevelop project files:
*.kdev4


# LaTeX/Knitr aux files
*.aux
*.log
*.out
*.toc
src/vignette-Tutorial/agop-Tutorial.tex
cache-knitr
figures-knitr
