export(closure_total_fair)
export(closure_transitive)
export(de_transitive)
export(dpareto2)
export(get_equivalence_classes)
export(get_incomparable_pairs)
export(get_independent_sets)
export(index.g)
export(index.h)
export(index.lp)
export(index.rp)
export(index_g)
export(index_g_zi)
export(index_h)
export(index_lp)
export(index_maxprod)
export(index_rp)
export(index_w)
export(is_reflexive)
export(is_total)
export(is_transitive)
export(owa)
export(owmax)
export(owmin)
export(pareto2_estimate_mle)
export(pareto2_estimate_mmse)
export(pareto2_test_f)
export(plot.citfun)
export(plot_producer)
export(pord_weakdom)
export(ppareto2)
export(qpareto2)
export(rel_graph)
export(rpareto2)
export(wam)
export(wmax)
export(wmin)
useDynLib(agop)
