export(closure_total_fair)
export(closure_transitive)
export(de_transitive)
export(dhirsch)
export(discrpareto2.goftest)
export(discrpareto2.mlekestimate)
export(discrpareto2.mleksestimate)
export(dpareto2)
export(dsstat)
export(get_equivalence_classes)
export(get_incomparable_pairs)
export(get_independent_sets)
export(index.g)
export(index.h)
export(index_g)
export(index_g_zi)
export(index_h)
export(index_maxprod)
export(index_w)
export(int.choquet)
export(int.shilkret)
export(int.sugeno)
export(is_reflexive)
export(is_total)
export(is_transitive)
export(owa)
export(owmax)
export(owmin)
export(pareto2.confint.h)
export(pareto2.confint.h.lower)
export(pareto2.confint.h.upper)
export(pareto2.confint.rho)
export(pareto2.confint.rho.approx)
export(pareto2.confint.rho.approx.lower)
export(pareto2.confint.rho.approx.upper)
export(pareto2.confint.rho.lower)
export(pareto2.confint.rho.upper)
export(pareto2.dhirsch)
export(pareto2.ftest)
export(pareto2.goftest)
export(pareto2.htest)
export(pareto2.htest.approx)
export(pareto2.mlekestimate)
export(pareto2.mleksestimate)
export(pareto2.phirsch)
export(pareto2.zsestimate)
export(phirsch)
export(plot.citfun)
export(plot_producer)
export(pord_weakdom)
export(ppareto2)
export(psstat)
export(qpareto2)
export(rel_graph)
export(rho.get)
export(rpareto2)
export(wam)
export(wmax)
export(wmin)
useDynLib(agop)
